{% extends 'user-dashboard-base.html' %}
{% load static %}

{% block content %}
<div class="user-content">
    <div class="user-panel">
        <div class="row">
          
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="tile-item tile-light">
                            <div class="tile-bubbles"></div>
                            <h6 class="tile-title">WALLET BALANCE</h6>
                            <ul class="tile-info-list">
                                <li><span>${{user.user_wallet.current_balance}}</span></li>
                              
                            </ul>
                            <div  class="tile-title">
                                
                                {% if pending_deposit %}
                                Pending Deposit : 
                                <span style="color: green;">
                                    +${{pending_deposit}}
                                </span>
                               
                                {% endif %}
                                {% if pending_withdrawal %}
                                Pending : 
                                <span style="color: red;">
                                    -${{pending_withdrawal}}
                                </span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
               
                </div>
              
            </div><!-- .col -->
         
        </div><!-- .row -->
 
        <!--div class="token-card">
            <div class="token-info">
                <span class="token-smartag">ICO Phase 2</span>
                <h2 class="token-bonus">20% <span>Current Bonus</span></h2>
                <ul class="token-timeline">
                    <li><span>START DATE</span>14 Jul 2018</li>
                    <li><span>END DATE</span>25 Aug 2018</li>
                </ul>
            </div>
            <div class="token-countdown">
                <span class="token-countdown-title">THE BONUS END IN</span>
                <div class="token-countdown-clock" data-date="2021/08/10"></div>
            </div>
        </div><!-- .token-card -->
     
        <div class="progress-card">
            {% if user.user_wallet.plan_is_active %}
            <h4>Investment Plan Progress 

            </h4>
                <ul class="progress-info">
                    <li><span>Earned -</span> ${{user.user_wallet.plan_earning}}</li>
                    <li><span>Expected -</span> ${{user.user_wallet.max_earning}}</li>
                </ul>
                <div class="progress-bar">
                    <!--div class="progress-hcap" style="width:90%">
                        <div>Due for withdrawal <span>{{user.user_wallet.due_withdawab</span></div>
                    </div-->
                    <!--div class="progress-scap" style="width:34%">
                        <div>Soft cap <span>40,000</span></div>
                    </div>
                    <div class="progress-psale" style="width:12%">
                        <div>Pre Sale <span>10,000</span></div>
                    </div-->
                    <div class="progress-percent" style="width:{{user.user_wallet.plan_progress}}%"></div>
                </div>
            {% else %}    
            You have no running investment at the moment.
            <center>
                <span>
                    <a href="{% url 'plans' %}">Invest</a></span>
                </span>
            </center>
            {% endif %}
        </div>
        
        <div class="gaps-3x"></div>
        <div class="table-responsive">
            <h4>Recent Transactions</h4>

              
        {% if not recent_transactions %}
         <div class="status status-empty">
            <div class="status-icon">
                <em class="ti ti-files"></em>
                <div class="status-icon-sm">
                    <em class="ti ti-close"></em>
                </div>
            </div>
            <span class="status-text">You have not contributed yet! You should make some.</span>
            <a href="#" class="btn btn-primary">Contribute Now</a>
        </div> >
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>TRX REF.</th>
                        <th>Amount</th>
                        <th>TRX Type</th>
                        <th>Payment method</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tx in recent_transactions %}
                    <tr>
                        <td>{{tx.transaction_id}}</td>
                        <td>${{tx.amount}}</td>
                        <td>{{tx.transaction_type}}</td>
                        <td>{{tx.coin}}</td>
                        <td><span>{{tx.date}}</span></td>
                       
                    </tr>
                    {% endfor %}
                 
                </tbody>
            </table>
            {% endif %}
        </div>
        
    </div><!-- .user-panel -->
</div><!-- .user-content -->

{% endblock %}