{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
<meta name="author" content="Softnio">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<!-- Fav Icon  -->
<link rel="shortcut icon" href="images/favicon.png">
<!-- Site Title  -->
<title>{{site_name}}| {{title|default:"Creating the trends in crypto trading"}}</title>
<!-- Bundle and Base CSS -->
<link rel="stylesheet" href="{% static 'main/css/vendor.bundle.css' %}?ver=1930">
<link rel="stylesheet" href="{% static 'main/css/style.css' %}?ver=1930" id="changeTheme">
<!-- Extra CSS -->
<link rel="stylesheet" href="{% static 'main/css/theme.css' %}?ver=1930">

{% block css %}
{% endblock %}

<style>
    .nk-footer {
  background-image: url("{% static 'images/bg/bg-b.jpg' %}");

}

    .overlay {
  position: relative; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  opacity:0.9;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
   /* Add a pointer on hover */
}


    #google_translate_element select{
 background:#f6edfd;
 color:#415076;
 border: none;
 border-radius:3px;
 padding:6px 8px
 }
 .goog-logo-link{
   display:none!important;
  }
 .goog-te-gadget{
 color:transparent!important;
    display:none!important;
 } 
 .goog-te-banner-frame{

 height: 0px;
 }


 
 #goog-gt-tt, .goog-te-balloon-frame{display: none !important;height: 0px;}
.goog-text-highlight { background: none !important; box-shadow: none !important;}
</style>


</head>


    <body class="nk-body body-wider bg-light mode-onepage" style="font-size:16px ;">
        
	<div class="nk-wrap" style="">
        
		<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
		    
            <!-- Header @s -->
            
			<div class="header-main">
                
				<div class="header-container container">
					<div class="header-wrap">
						<!-- Logo @s -->
						<div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
							<a href="{% url 'index' %}" class="logo-link">
								<img style="height:41px;width:160px" class="logo-dark" src="{% static 'images/logo/logo.png' %}" srcset="{% static 'images/logo/logo.png' %} 2x" alt="logo">
								<img style="height:41px;width:160px" class="logo-light" src="{% static 'images/logo/logo-all-white.png' %}" srcset="{% static 'images/logo/logo-all-white.png' %} 2x" alt="logoalt">
							</a>
						</div>
                        

						<!-- Menu Toogle @s -->
						<div class="header-nav-toggle">
							<a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
						</div>
                        {% if not is_registration_template %}
						<!-- Menu @s -->
						<div class="header-navbar animated" style="padding: 0px;" data-animate="fadeInDown" data-delay=".75">
							<nav class="header-menu" id="header-menu" >
								<ul class="menu">
									<li class="menu-item"><a class="menu-link nav-link" href="#header">Home</a></li>
									<li class="menu-item"><a class="menu-link nav-link" href="#about">About</a></li>
									<li class="menu-item"><a class="menu-link nav-link" href="#features">Features</a></li>
									<li class="menu-item"><a class="menu-link nav-link" href="#investment-plan">Investment Plans</a></li>
									<li class="menu-item"><a class="menu-link nav-link" href="#products">What we offer</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#statistics">Statistics</a></li>
									<li class="menu-item has-sub">
										<a class="menu-link nav-link menu-toggle" href="#">More</a>
										<ul class="menu-sub menu-drop">
 
											<!--li class="menu-item"><a class="menu-link nav-link" href="#team">Team</a></li-->
                                            <li class="menu-item"><a class="menu-link nav-link" href="#faq">Faq</a></li>
										</ul>
									</li>
                                    <li class="menu-item">
                                        <span id="google_translate_element" style="">
                                        </span>
									</li>
                                    
									<!--li class="menu-item"><a class="menu-link nav-link" href="#contact">Contact</a></li-->
								</ul>
								<!--ul class="menu-btns">
									<li><a href="#" data-toggle="modal" data-target="#login-popup" class="btn btn-md btn-auto btn-grad no-change"><span>Login</span></a></li>
								</ul-->
							</nav>
						</div><!-- .header-navbar @e -->
					     {% endif %}
                    </div>                                                
				</div>
			</div><!-- .header-main @e -->

			
		</header>
        {% block content %}{% endblock %}
    
       
		<footer class="nk-footer bg-theme-gra overlay" >
			<!--section class="section no-pdy section-contact bg-transparent" id="contact">
			
				<div class="container">
				    <!-- Block @s ->
					<div class="nk-block block-contact animated" data-animate="fadeInUp" data-delay=".9">
                        <div class="row justify-content-center no-gutters">
                            <div class="col-lg-6">
                                <div class="contact-wrap split split-left split-lg-left bg-white">
                                    <h5 class="title title-md">Contact Us</h5>
                                    <form class="nk-form-submit" action="form/contact.php" method="post">
                                        <div class="field-item">
                                            <input name="contact-name" type="text" class="input-line required">
                                            <label class="field-label field-label-line">Your Name</label>
                                        </div>
                                        <div class="field-item">
                                            <input name="contact-email" type="email" class="input-line required email">
                                            <label class="field-label field-label-line">Your Email</label>
                                        </div>
                                        <div class="field-item">
                                            <textarea name="contact-message" class="input-line input-textarea required"></textarea>
                                            <label class="field-label field-label-line">Your Message</label>
                                        </div>
                                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-grad">Submit</button>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-results"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- .col ->
                            <div class="col-lg-4">
                                <div class="contact-wrap split split-right split-lg-right bg-genitian bg-theme tc-light">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <ul class="contact-list">
                                            <li>
                                                <em class="contact-icon fas fa-building"></em>
                                                <div class="contact-text">
                                                    <h6>ICO Crypto</h6>
                                                    <span>728 Dooley Branch <br> Beckershire, LA 63598</span>
                                                </div>
                                            </li>
                                            <li>
                                                <em class="contact-icon fas fa-phone"></em>
                                                <div class="contact-text">
                                                    <span>+44 0123 4567</span>
                                                </div>
                                            </li>
                                            <li>
                                                <em class="contact-icon fas fa-envelope"></em>
                                                <div class="contact-text">
                                                    <span>info@company.com</span>
                                                </div>
                                            </li>
                                            <li>
                                                <em class="contact-icon fas fa-paper-plane"></em>
                                                <div class="contact-text">
                                                    <span>Join us on Telegram</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="contact-social">
                                            <h6>Be a part of our community</h6>
                                            <ul class="social-links">
                                                <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                                <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
                                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                                <li><a href="#"><em class="fab fa-youtube"></em></a></li>
                                                <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
                                                <li><a href="#"><em class="fab fa-github"></em></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col ->
                        </div><!-- .row ->
					</div><!-- .block @e ->
				</div>
				
				<div class="nk-ovm ovm-top ovm-h-60 bg-light"></div><!-- .nk-ovm ->
			</section-->
			<!-- // -->

			<section class="section section-footer tc-light overlay">
			
				<div class="container">
				    <!-- Block @s -->
					<div class="nk-block block-footer mgb-m30">
                        <div class="row">
                         
                            <!--div class="col-lg-2 col-sm-4">
                                <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".3">
                                    <h6 class="wgs-title">Legal</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#">Terms &amp; Conditions</a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-4">
                                <div class="wgs wgs-menu animated" data-animate="fadeInUp" data-delay=".4">
                                    <h6 class="wgs-title">Quick Links</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                   
                                            <li><a href="{% url 'login' %}">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 order-lg-first">
                                <div class="wgs wgs-text animated" data-animate="fadeInUp" data-delay=".1">
                                    <div class="wgs-body">
                                        <a href="{% url 'index' %}" class="wgs-logo">
                                            <img style="height:41px;width:160px"  src="{% static 'images/logo/logo-all-white.png' %}" srcset="{% static 'images/logo/logo-all-white.png' %} 2x" alt="logoalt">
                                        </a>
                                        <p>Copyright © 2022 Nintrend ltd. <br>All rights reserved. </p>
                                      
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
					</div><!-- .block @e -->
				</div>
				
			</section>
			<div class="nk-ovm shape-b"></div>
		</footer>
	</div>
	
    <!-- Modal @s -->
	<div class="modal fade" id="login-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body">
                        <h5 class="ath-heading title">Sign in <small class="tc-default">with your ICO Account</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Password">
                                </div>
                            </div>
                            <div class="field-item d-flex justify-content-between align-items-center">
                                <div class="field-item pb-0">
                                    <input class="input-checkbox" id="remember-me-100" type="checkbox">
                                    <label for="remember-me-100">Remember Me</label>
                                </div>
                                <div class="forget-link fz-6">
                                    <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#reset-popup">Forgot password?</a>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Sign In</button>
                        </form>
                        <div class="sap-text"><span>Or Sign In With</span></div>

                        <ul class="row gutter-20px gutter-vr-20px">
                            <li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
                            <li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
                        </ul>
                        <div class="ath-note text-center">
                            Don’t have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register-popup"> <strong>Sign up here</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->
	
    <!-- Modal @s -->
	<div class="modal fade" id="register-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body">
                        <h5 class="ath-heading title">Sign Up <small class="tc-default">Create New ICOX Account</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Password">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Repeat Password">
                                </div>
                            </div>
                            <div class="field-item">
                                <input class="input-checkbox" id="agree-term-2" type="checkbox">
                                <label for="agree-term-2">I agree to Icos <a href="#">Privacy Policy</a> &amp; <a href="#">Terms</a>.</label>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Sign Up</button>
                        </form>
                        <div class="sap-text"><span>Or Sign Up With</span></div>

                        <ul class="btn-grp gutter-20px gutter-vr-20px">
                            <li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
                            <li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
                        </ul>
                        <div class="ath-note text-center">
                            Already have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-popup"> <strong>Sign in here</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->
    <!-- Modal @s -->
	<div class="modal fade" id="reset-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body">
                        <h5 class="ath-heading title">Reset <small class="tc-default">with your Email</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Reset Password</button>
                            <div class="ath-note text-center">
                                Remembered? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#login-popup"> <strong>Sign in here</strong></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->
    
    
	<!-- preloader -->
	<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt">
        <img style="height:41px;width:160px" class="spinner-brand" src="{% static 'images/logo/logo-all-white.png' %}" srcset="{% static 'images/logo/logo-all-white.png' %} 2x" alt="logoalt">
    </span></div>
	
    <script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
		}
	</script>
		
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	
	<!-- JavaScript -->
	<script src="{% static 'main/js/jquery.bundle.js' %}"?ver=1930"></script>
	<script src="{% static 'main/js/scripts.js' %}"?ver=1930"></script>
	<script src="{% static 'main/js/charts.js' %}""></script>
    <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '3757d7b545c0712370d306f964f593dfc49820e5';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    {% block js %}{% endblock %}
</body>
</html>
