{% extends  'base.html' %}
{% load static %}
{% block css %}
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'user-dashboard/css/style.css' %}?ver=101">

    <style>
.header-banner {
  background-image: url("{% static 'images/bg/trading-1.jpg' %}");

}

#statistics{
    background-image: url("{% static 'images/bg/bg-a.jpg' %}") ;
  
}

#features{
    background-image: url("{% static 'images/bg/bg20.jpg' %}") ;
   color :white;
}








    </style>

{% endblock %}

{% block content %}
<!-- Banner @s -->
<div class="header-banner bg-theme-gra" style=";">
   
    <div class="nk-banner overlay" style="height: 63vh;">

        <div class="banner banner-fs banner-single tc-light">
            <div class="banner-wrap"> 
                <div class="container" >
                    <div class="row align-items-center justify-content-center py-0" >
  
                        <div class="col-lg-12 col-sm-12 text-center text-lg-left" style="z-index: 200;">
                            <div class="banner-caption cpn tc-light">
                                <div class="cpn-head">
                                    <h1 class="title animated" data-animate="fadeInUp" data-delay="1">World #1 Crypto Investment <br class="d-none d-md-block"> & Staking Platform</h1>
                                </div>
                                <div class="cpn-text">
                                    <p class="animated" data-animate="fadeInUp" data-delay="1.1">We offer high liquidity, low risk, good ROI on investments through  a data-informed asset trading and staking process.</p>
                                </div>
                               
                                <div class="cpn-action">
                              
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'dashboard' %}" class="btn btn-grad p-2">Dashboard</a>
                                    {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-grad p-2">Login/Register</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div>
            </div>
        </div>
    </div><!-- .nk-banner -->
    
    
    <!-- Place Particle Js -->
    <div id="particles-bg" class="particles-container particles-bg"></div>
</div>
<!-- .header-banner @e -->
<main class="nk-pages">
    
    <div style="height:100px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; block-size:62px; font-size: 20px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;padding:1px;padding: 0px; margin: 0px; width: 100%;">
        <div style="height:60px; padding:0px; margin:0px; width: 100%;">
        <iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=light&pref_coin_id=1505&invert_hover=" width="100%" height="45px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;font-size: 20px;">
        </iframe>
    </div>
    <div style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
        <a href="#" target="_blank" style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px">Live cryptocurrency Prices</a>
   
    </div>
    </div>

    <!-- // -->
    <section class="section bg-light section-about pt-3" id="about" style="">

        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-about">
                <div class="row gutter-vr-30px align-items-center pdb-l">
                    <div class="col-lg-6">
                        <div class="nk-block-text">
                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Creating the trading trends</h2>
                            <p class="animated" data-animate="fadeInUp" data-delay=".2"><strong>Welcome to {{site_name}} ltd.</strong> Trade and invest in top cryptos & Global assets. Trade Bitcoin, Ethereum, Litecoin,NFT's, Indices and Commodities via CFDs. Investing in the financial markets has never been easier.</p>
                            <!--p class="animated" data-animate="fadeInUp" data-delay=".3">{{site_name}}  sectetur adipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">We create cryptocurrency dipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p-->
                        </div>
                    </div>
                    <!--div class="col-lg-6">
                        <div class="nk-block-video animated" data-animate="fadeInUp" data-delay=".5">
                            <img src="images/video/a.png" alt="video">
                            <a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="nk-block-video-play video-popup btn-play btn-play-light"><em class="fas fa-play"></em></a>
                        </div>
                    </div-->
                </div>
            </div><!-- .block @e -->
            <!-- Section Head @s -->
          

    </section>
    <!-- // -->
   
   
    <section class="section section-solution bg-light pt-2 " id="features">

    <div class="container overlay pt-2">
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto-sm">
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1" style="color: #B9D2F4;">Features</h2>
            <p class="animated white" data-animate="fadeInUp" data-delay=".2" style="color: white;">We are dedicated to breaking the blockchain divide. our vision is to bring blockchain investment to your doorsteps, by making it easy and secured for everyone to get involved.</p>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-features-s3">
            <div class="row gutter-vr-40px justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-lg">
                            <em style="color: #B9D2F4;" class="icon icon-lg ikon ikon-cloud"></em>
                        </div>
                        <div class="feature-text" >
                            <h4 class="title title-md title-light " style="color: #B9D2F4;">Ease Of Use:</h4>
                            <p style="color: white;">Investing in blockchain has never been this easy, we simplified the complexities encountered in cryptocurrency and digital asset investment.</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6 col-md-10">
                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="feature-icon feature-icon-lg">
                            <em class="icon icon-lg ikon ikon-safety" style="color: #B9D2F4;"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark" style="color: #B9D2F4;"> Trading Experience</h4>
                            <p style="color: white;">We focus only on investing in blockchain technologies. Our team has experience in both traditional financing and emerging blockchain technology.  Making sure our clients can operate safely and calmly is a top priority. We are constantly adding new offerings that will give you a better, more diverse investment experience, accessible from anywhere and on any device.</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6 col-md-10">
                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="feature-icon feature-icon-lg">
                            <em class="icon icon-lg ikon ikon-cash" style="color: #B9D2F4;"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark" style="color: #B9D2F4;"> Withdrawal Options</h4>
                            <p style="color: white;">We provide varoius withdrawal options for you to choose from. we always prioritise your convenience</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6 col-md-10">
                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="feature-icon feature-icon-lg">
                            <em class="icon icon-lg ikon ikon-globe" style="color: #B9D2F4;"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark" style="color: #B9D2F4;">Unrivalled Security</h4>
                            <p style="color: white;">Your assets and accounts are highly secured, our insurance policy protects your assets in the case of any bridge. our ultra modern infrastructures makes sure the former never happens.</p>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>

</section>
<!-- // -->
    <!-- // -->
    <section class="section section-problem bg-light" id="investment-plan">

        <div class="container">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Investment Plans</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Yes!, everyone can now invest in cryptocurrency and blockchain.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block nk-block-problems tc-light">
                <div class="row">
                    
                {% for plan in plans %}
                <div class="col-lg-4">
                <div class="token-card">
                    <div class="token-info">
                        <span class="token-smartag">{{plan.name}}</span>
                        <h2 class="token-bonus">{{plan.interest_rate}}% <span>Interest</span></h2>
                        <ul class="token-timeline">
                            <li><span>DURATION</span>{{plan.duration_verbose}} </li>
                            <li><span>RANGE</span>${{plan.min_cost}} - ${{plan.max_cost|default:" unlimited"}}</li>
                            
                        </ul>
                    </div>
                    <div  style="border:2px solid #6783b8;width: 100%;background-color: white;height: fit-content;" class="text-center p-0" data-delay=".4">
                    
                        <a href="{% url 'invest' plan.slug %}" class="btn " style="color: black;border: 0px;" >select plan</a>
                
                    </div>
                
                </div><!-- .token-card -->
                </div>
                {% endfor %}
    </div><!-- .user-panel -->
                    
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>

    </section>
 
    <section class="section section-product bg-white" id="products">

        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-features-s4 mgb-m30">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="section-head">
                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Our Products</h2>
                            <p class="animated" data-animate="fadeInUp" data-delay=".2">We have simplified asset management. You can easily monitor the state of your investments and assets easily on your custom dashoard. Deposit, withdrawal and investments all in one place.</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-3 col-xlg-3  mb-4 mb-lg-0">
                        <div class="nk-block-img bg-pattern-dots-color">
                            <div class="app-slide-wrap animated" data-animate="fadeInUp" data-delay=".1">
                                <div class="app-slide">
                                    <img src="{% static 'images/app-screens/a.jpg' %}">
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6  col-xlg-6  col-12 pl-5">
                        <a href="#" class="feature feature-s4 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="feature-img">
                                <img src="{% static 'images/products/b.jpg' %}" alt="product">
                            </div>
                            <h5 class="title title-sm title-dark">Desktop View</h5>
                        </a>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>

    </section>
    <!-- // -->
    <section class="bg-theme bg-pattern-dots overlay" id="statistics">

        <div class="section section-tokensale tc-ligh overlay">

            <div class="container">
                <!-- Section Head @s -->
                <div class="banner-caption cpn tc-light">
                    <div class="cpn-head">
                        <h1 class="title animated" data-animate="fadeInUp" data-delay=".1">{{site_name}} Statistics</h1>
                    </div>
                    <div class="cpn-text">
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">We appretiate the decentralization and transparency of blockchain technology, that is why our portfolio is always made public. so you know where we are putting your money</p>
                    </div>
                </div>

                <!-- Block @s -->
                <div class="nk-block nk-block-token mgb-m30 " >
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="token-info bg-theme animated" data-animate="fadeInUp" data-delay=".3">
                                <h4 class="title title-md mb-2 text-sm-center" style="color:white">Real time portfolio data</h4>
                                <table class="table table-oken" >
                                    <tbody>
                                        <tr style="">
                                            <td class="table-head col-white" style="color:white">Token Projects</td>
                                            <td class="table-des col-white" style="color:white">$2,453,450.45</td>
                                        </tr>
                                        <tr>
                                            <td class="table-head col-white" style="color:white">Exchange</td>
                                            <td class="table-des col-white" style="color:white">$1,345,764.70</td>
                                        </tr>
                                        <tr>
                                            <td class="table-head col-white" style="color:white">Farming & Staking</td>
                                            <td class="table-des col-white" style="color:white">$3,566,864.02</td>                                        </tr>
                                        <tr>
                                            <td class="table-head col-white" style="color:white">Lending</td>
                                            <td class="table-des col-white" style="color:white">$2,094,673.12</td>
                                        </tr>
                                      
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-5">
                        
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .block @e -->
            </div>

        </div><!-- .section-tokensale -->

        <div class="section-tokendes">

            
            <div class="nk-ovm ovm-bottom ovm-h-70 bg-light"></div><!-- .nk-ovm -->
        </div><!-- .section-tokendes -->
    </section>
    <!-- // -->
    
    
    <!-- // ->
   
    <section class="section section-roadmap bg-white py-2" id="roadmap">

        <div class="container">
            <!-- Section Head @s ->
            <div class="section-head text-center wide-auto">
                <h6 class="title title-xs title-light animated" data-animate="fadeInUp" data-delay=".1">The roadmap to success</h6>
                <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".2">What are our major goals?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".3">Our market strategy will prioritise blockchain technology rollout to utilities based on their transformation. View our roadmap to see how exactly we are making that happen. </p>
            </div><!-- .section-head @e -->
            <!-- Block @s ->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                           
                            </div>
                            <div class="roadmap roadmap-right roadmap-finished animated" data-animate="fadeInUp" data-delay=".5">
                                <div class="roadmap-step">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">March 2018</span>
                                        <span class="roadmap-title">Concept development</span>
                                    </div>
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left roadmap-finished animated" data-animate="fadeInUp" data-delay=".6">
                                <div class="roadmap-step">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Q3 &amp; Q4 2018</span>
                                        <span class="roadmap-title">Website and Whitepaper</span>
                                    </div>
                                    <ul class="list list-dot">
                                        <li>MVP of wallet prototype released</li>
                                        <li>Pre-Sale ICO Starts</li>
                                        <li>Redesign of website goes live</li>
                                        <li>Version 2 of Whitepaper released</li>
                                        <li>Version 3 of Onepager released</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                              
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".5">
                                <div class="roadmap-step">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Q1 2019</span>
                                        <span class="roadmap-title">Public Token Sale Begins</span>
                                    </div>
                                    <p>Public ICO launch and crowd-sale starts - 5th Januray &amp; Token distribution will commence - 2nd March.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".6">
                                <div class="roadmap-step">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Q2 2019</span>
                                        <span class="roadmap-title">Beta App User Testing</span>
                                    </div>
                                    <p>Release our first apps for beta testing to our members comunity</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col ->
                </div><!-- .row ->
               
            </div>
            <!-- Block @e ->
        </div>

    </section>
    <!-- // ->
    <section class="section section-team bg-light" id="team">

        <div class="container">
            <!-- Block @s ->
            <div class="nk-block nk-block-team-featured team-featured">
                <div class="row align-items-center">
                    
                    <div class="col-lg-12">
                        <div class="team-featured-cont">
                            <h6 class="title title-xs title-light animated" data-animate="fadeInUp" data-delay=".2">behind the idea</h6>
                            <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".3">The Core Team</h2>
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">ICOx Crypto is founded by David Metthew who is young entrepreneur &amp; full stack-developer. He is totam rem aperiam, et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Quam nihil molestiae illum.</p>
                        </div>
                    </div>
                </div><!-- .row ->
            </div>
            <!-- Block @e ->
        </div->

    </section>
    <!-- // ->
    <section class="section section-team bg-light pt-0" id="team-members">

        <div class="container">
            <!-- Section Head @s ->
     
            <!-- Block @s ->
            <div class="nk-block nk-block-team-list">
                <div class="row justify-content-center">
                    <div class="col-md-3 col-6">
                        <div class="team animated" data-animate="fadeInUp" data-delay=".2">
                            <div class="team-photo">
                                <img src="{% static 'images/team/a.jpg' %}" alt="team">
                                <a href="#team-popup-1" class="team-show content-popup"></a>
                                <ul class="team-social">
                                    <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                </ul>
                            </div>
                            <h5 class="team-name title title-sm">Louis Baker</h5>
                            <span class="team-position">CEO &amp; Lead Blockchain</span>
                        </div>
                        <!-- Start .team-profile  ->
                        <div id="team-popup-1" class="team-popup mfp-hide">
                            <a title="Close" class="mfp-close">×</a>
                            <div class="row align-items-start">
                                <div class="col-md-6">
                                    <div class="team-photo">
                                        <img src="{% static 'images/team/a.jpg' %}" alt="team">
                                    </div>
                                </div><!-- .col  ->
                                <div class="col-md-6">
                                    <div class="team-popup-info pl-md-3">
                                        <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                        <p class="team-position">CEO &amp; Lead Blockchain </p>
                                        <ul class="team-social mb-4">
                                            <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                            <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        </ul>
                                        <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                        <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                        <div class="progress-list">
                                            <div class="progress-wrap">
                                                <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                                <div class="progress-bar progress-bar-xs bg-black-10">
                                                    <div class="progress-percent bg-primary" data-percent="85"></div>
                                                </div>
                                            </div>
                                            <div class="progress-wrap">
                                                <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                                <div class="progress-bar progress-bar-xs bg-black-10">
                                                    <div class="progress-percent bg-primary" data-percent="68"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col  ->
                            </div><!-- .row  ->
                        </div><!-- .team-profile  ->
                    </div><!-- .col ->
                    <div class="col-md-3 col-6">
                        <div class="team animated" data-animate="fadeInUp" data-delay=".2">
                            <div class="team-photo">
                                <img src="{% static 'images/team/b.jpg' %}" alt="team">
                                <a href="#team-popup-2" class="team-show content-popup"></a>
                                <ul class="team-social">
                                    <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                </ul>
                            </div>
                            <h5 class="team-name title title-sm">Jonathan Rios</h5>
                            <span class="team-position">CTO &amp; Software Engineer</span>
                        </div>
                        <!-- Start .team-popup  ->
                        <div id="team-popup-2" class="team-popup mfp-hide">
                            <a title="Close" class="mfp-close">×</a>
                            <div class="row align-items-start">
                                <div class="col-md-6">
                                    <div class="team-photo">
                                        <img src="{% static 'images/team/b.jpg' %}" alt="team">
                                    </div>
                                </div><!-- .col  ->
                                <div class="col-md-6">
                                    <div class="team-popup-info pl-md-3">
                                        <h3 class="team-name title title-lg pt-4">Jonathan Rios</h3>
                                        <p class="team-position">CTO &amp; Software Engineer</p>
                                        <ul class="team-social mb-4">
                                            <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                            <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        </ul>
                                        <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                        <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    </div>
                                </div><!-- .col  ->
                            </div><!-- .row  ->
                        </div><!-- .team-popup  ->
                    </div><!-- .col ->
                    <div class="col-md-3 col-6">
                        <div class="team animated" data-animate="fadeInUp" data-delay=".3">
                            <div class="team-photo">
                                <img src="{% static 'images/team/c.jpg' %}" alt="team">
                                <a href="#team-popup-3" class="team-show content-popup"></a>
                                <ul class="team-social">
                                    <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                </ul>
                            </div>
                            <h5 class="team-name title title-sm">Jason Morales</h5>
                            <span class="team-position">Sr.Backend developer</span>
                        </div>
                        <!-- Start .team-profile  ->
                        <div id="team-popup-3" class="team-popup mfp-hide">
                            <a title="Close" class="mfp-close">×</a>
                            <div class="row align-items-start">
                                <div class="col-md-6">
                                    <div class="team-photo">
                                        <img src="{% static 'images/team/c.jpg' %}" alt="team">
                                    </div>
                                </div><!-- .col  ->
                                <div class="col-md-6">
                                    <div class="team-popup-info pl-md-3">
                                        <h3 class="team-name title title-lg pt-4">Jason Morales</h3>
                                        <p class="team-position">Sr.Backend developer</p>
                                        <ul class="team-social mb-4">
                                            <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                            <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        </ul>
                                        <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                        <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    </div>
                                </div><!-- .col  ->
                            </div><!-- .row  ->
                        </div><!-- .team-profile  ->
                    </div><!-- .col ->
                    <div class="col-md-3 col-6">
                        <div class="team animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="team-photo">
                                <img src="{% static 'images/team/d.jpg' %}" alt="team">
                                <a href="#team-popup-4" class="team-show content-popup"></a>
                                <ul class="team-social">
                                    <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                </ul>
                            </div>
                            <h5 class="team-name title title-sm">Joseph Jordan</h5>
                            <span class="team-position">Software Engineer</span>
                        </div>
                        <!-- Start .team-profile  ->
                        <div id="team-popup-4" class="team-popup mfp-hide">
                            <a title="Close" class="mfp-close">×</a>
                            <div class="row align-items-start">
                                <div class="col-md-6">
                                    <div class="team-photo">
                                        <img src="{% static 'images/team/d.jpg' %}" alt="team">
                                    </div>
                                </div><!-- .col  --
                                <div class="col-md-6">
                                    <div class="team-popup-info pl-md-3">
                                        <h3 class="team-name title title-lg pt-4">Joseph Jordan</h3>
                                        <p class="team-position">Software Engineer</p>
                                        <ul class="team-social mb-4">
                                            <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                            <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        </ul>
                                        <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                        <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    </div>
                                </div><!-- .col  ->
                            </div><!-- .row  --
                        </div><!-- .team-profile  ->
                    </div><!-- .col --
                </div><!-- .row ->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".5">
                    <a href="#" class="btn btn-grad">See All Team Member</a>
                </div>
            </div>
            <!-- Block @r ->
        </div>
    </section>
    <!-- // -->
    <section class="section section-faq bg-white" id="faq">
        
        <div class="container">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto">
                <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">These are some of the questions we you think you might be interested in their answers.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block block-faq">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                        <ul class="nav tab-nav tab-nav-vr tab-nav-bdr mr-lg-3 animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#general-questions"><em class="fas fa-caret-right"></em>General Questions</a></li>
                            <!--li><a data-toggle="tab" href="#ico-questions"><em class="fas fa-caret-right"></em>ICO Questions</a></li>
                            <li><a data-toggle="tab" href="#tokens-sales"><em class="fas fa-caret-right"></em>Tokens Sales</a></li>
                            <li><a data-toggle="tab" href="#clients-releted"><em class="fas fa-caret-right"></em>Clients Releted</a></li-->
                        </ul>
                    </div><!-- .col -->
                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="general-questions">
                                <div class="accordion accordion-faq" id="faq-1">
                                    <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                        <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-1-1">How do i purchase Cryptocurrency ?<span class="accordion-icon"></span></h5>
                                        <div id="faq-1-1" class="collapse show" data-parent="#faq-1">
                                            <div class="accordion-content">
                                                <p>There are a couple of methods, but the simplest and least expensive is via an online cryptocurrency exchange. You establish an account and from there, you transfer in cash and purchase any one of our accepted cryptocurrencies of your choice. available platforms to do that includes www.binance.com, www.coinbase.com, etc.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                        <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-1-2">What cryptocurrencies can I fund my wallet with ? <span class="accordion-icon"></span></h5>
                                        <div id="faq-1-2" class="collapse" data-parent="#faq-1">
                                            <div class="accordion-content">
                                                <p>Accepted cryptocurrencies on {{site_name}} for wallet funding include Bitcoin(BTC), Ethereum(ETH), Litecoin(LTC), Binance smart chain (BNB), US stable Token (USDT).</p>
                                            </div>
                                        </div>
                                    </div>
                                   
                                   
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ico-questions">
                                
                            </div>
                            <div class="tab-pane fade" id="tokens-sales">
                                
                            </div>
                            <div class="tab-pane fade" id="clients-releted">
                                
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>

    </section>
    <!-- // ->
    <section class="section section-m section-partners bg-light" id="partners">

        <div class="container">
            <!-- Block @s ->
            <div class="nk-block block-partners">
                <h6 class="title title-xs tc-primary text-center animated" data-animate="fadeInUp" data-delay=".1">Our Partners</h6>
                <ul class="partner-list flex-lg-nowrap">
                    <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".2"><img src="{% static 'images/partners/a.png' %}" alt="partner"></li>
                    <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".3"><img src="{% static 'images/partners/b.png' %}" alt="partner"></li>
                    <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".4"><img src="{% static 'images/partners/c.png' %}" alt="partner"></li>
                    <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".5"><img src="{% static 'images/partners/d.png' %}" alt="partner"></li>
                    <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".6"><img src="{% static 'images/partners/e.png' %}" alt="partner"></li>
                    <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".7"><img src="{% static 'images/partners/f.png' %}" alt="partner"></li>
                    <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".8"><img src="{% static 'images/partners/g.png' %}" alt="partner"></li>
                </ul>
            </div>
            <!-- Block @e ->
        </div>

    </section-->
</main>

{% endblock %}


