{% extends 'user-dashboard-base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="user-content">
    <div class="user-panel">
        <h2 class="user-panel-title">Fund Wallet</h2>
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#payment-method-opt">Payment Method</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="deposit-form" data-toggle="tab" href="#deposit-form-opt">Select Amount</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="complete-payment" data-toggle="tab" href="#payment-proof-opt">Complete Payment </a>
            </li>
        
        </ul><!-- .nav-tabs-line -->
        
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div  class="tab-content" id="payment-method-tab">
                
                <div class="tab-pane fade active show" id="payment-method-opt">
                    <h5 class="user-panel-subtitle">01. Select your preferred payment method </h5>
                    <div class="gaps-1x"></div>
                    <div class="payment-list">
                        <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="payment-item">
                                    <input checked  class="payment-check" wallet_address="{{usdt_wallet_address}}" type="radio" id="payusd" name="payment_method" value="USDT">
                                    <label for="payusd">
                                        <div class="payment-icon payment-icon-usd"><em class="payment-icon fas fa-credit-card"></em></div>
                                        <span class="payment-cur">US Dollar</span>
                                    </label>
                            
                                </div>
                        </div><!-- .col --> 
                        <div class="col-md-3 col-sm-6">
                                <div class="payment-item">
                                    <input  class="payment-check" wallet_address="{{eth_wallet_address}}" type="radio" id="payeth" name="payment_method" value="ETH" >
                                    <label for="payeth">
                                        <div class="payment-icon payment-icon-eth"><img src="{% static 'user-dashboard/images/icon-ethereum.png' %}"></div>
                                        <span class="payment-cur">Ethereum</span>
                                    </label>
                                
                                </div>       
                        </div><!-- .col -->
                        <div class="col-md-3 col-sm-6">
                                <div class="payment-item">
                                    <input class="payment-check"  wallet_address="{{bnb_wallet_address}}" type="radio" id="paybnb" name="payment_method" value="LTC">
                                    <label for="paybnb">
                                        <div class="payment-icon payment-icon-bnb">
                                            <img class="payment-icon" src="{% static 'user-dashboard/images/bnb-logo.png' %}"></div>
                                        <span class="payment-cur">BNB</span>
                                    </label>
            
                                </div>
                        </div><!-- .col -->

                        <div class="col-md-3 col-sm-6">
                            <div class="payment-item">
                                <input class="payment-check"  wallet_address="{{ltc_wallet_address}}" type="radio" id="paylightcoin" name="payment_method" value="LTC">
                                <label for="paylightcoin">
                                    <div class="payment-icon payment-icon-bnb"><img class="payment-icon" src="{% static 'user-dashboard/images/ltc-logo.png' %}"></div>
                                    <span class="payment-cur">LTC</span>
                                </label>
        
                            </div>
                    </div><!-- .col -->
                        <div class="col-md-3 col-sm-6">
                            <div class="payment-item">
                                    <input class="payment-check"  wallet_address="{{btc_wallet_address}}" type="radio" id="paybtc" name="payment_method" value="BTC">
                                    <label for="paybtc">
                                        <div class="payment-icon payment-icon-btc"><em class="payment-icon fab fa-btc"></em></div>
                                        <span class="payment-cur">Bitcoin</span>
                                    </label>
                            
                                </div>
                        </div><!-- .col -->
                        
                        </div><!-- .row -->
                    </div><!-- .payment-list -->
                    <span style="float: right;padding: 5px;">
                        <b>
                            <a class="next" to_tab="deposit-form">
                               NEXT <i class="fa fa-arrow-right"></i>
                            </a>
                        </b>
                    </span>
                  
                    
                </div>
            
                <div class="tab-pane fade" id="deposit-form-opt">
                    <h5 class="user-panel-subtitle">02. Set amount you wish to deposit</h5>
                    <p>Amount must be between <b>$10.00</b> to <b>${{x|default:"1000000.00"|intcomma}}</b>.</p>
                    <div class="gaps-1x"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="payment-calculator">
                        
                                <div class="payment-from">
                                    <label for="paymentFrom">Deposit Amount</label>
                                    <div class="payment-input">
                                        <input class="input-bordered" max="1000000"  min="10" type="number" id="paymentFrom" value="500" name="amount">
                                        <span class="payment-from-cur payment-cal-cur">usd</span>    
                                    </div>
                                </div>
                               
                        
                            </div>
                            <div class="gaps-2x d-md-none"></div>
                        </div><!-- .col -->
                
                    </div><!-- .row -->
                   
                    <span style="float: right;padding: 5px;">
                        <b>
                            <a class="next" to_tab="complete-payment">
                               NEXT <i class="fa fa-arrow-right"></i>
                            </a>
                        </b>
                    </span>
                </div>
            
                <div class="tab-pane fade " id="payment-proof-opt">
                    <h5 class="user-panel-subtitle">03. Attach proof of payment</h5>
                    <p>Pay <b>$</b><b id="pay-amount">500</b> to the specified wallet address, then attach the proof of payment.</p>
                    <p>

                        <h5 class="user-panel-subtitle"><b>Disclaimer :</b></h5>
                        -Incomplete payments wil not be processed.<br>
                        -{{site_name}} ltd will not be held responsible for payments made to wrong wallet address destinations.
                    </p>
                    <div class="gaps-1x"></div>
                    <div class="row">
                        <div class="col-12">
                            
                      

                     
                                <div class="payment-from">
                                    <label for="paymentFrom">Wallet Address(
                                        <span id="address_name" class="">USDT</span>    
                                        )
                                    </label>
                                    <div class="payment-input refferal-info">
                                        <button class="refferal-copy copy-clipboard" id="wallet-address-copy" data-clipboard-text="{{usdt_wallet_address}}">
                                            <em class="ti ti-files"></em>
                                        </button>
                                        <input name="wallet_address" readonly class="input-bordered" type="text" id="address_value" value="{{usdt_wallet_address}}">
                                       
                                    </div>
                                </div>
                                
                                <div class="payment-from mt-3">
                                    <label for="paymentFrom">Payment proof</label>
                                    <div class="payment-input">
                                    
                                        <input name="payment_proof" class="input-bordered" type="file" id="paymentFrom">
                                        <span class="payment-from-cur payment-cal-cur"><i class="fa fa-file-alt"></i></span>    
                                    </div>
                                </div>
                           
                            <div class="gaps-2x d-md-none"></div>
                        </div><!-- .col -->
                    
                    </div><!-- .row -->
                    <div class="gaps-1x"></div>
                    
                    <button style="float: right;border-radius: 15px;" type="submit" class="btn btn-primary payment-btn mb-2 px-2 py-1"  >Submit</button>
                    
                </div>
            
            
            </div>
        </form>
    </div><!-- .user-panel -->
</div><!-- .user-content -->



{% endblock %}

{% block js %}

<script>
    $(".copy-clipboard").click(function(e){
       e.preventDefault()
    })

    $(".payment-check").on("change", function() {
        //fill in the wallet address for selected method
        var add = $(this).attr("wallet_address")
        $("input[name=wallet_address]").val(add)
        $("#wallet-address-copy").attr("data-clipboard-text",add)
        $("#address_name").html($(this).attr("value"))
      
    })
   

    $(".next").click(function(){ 
        $("#" + $(this).attr("to_tab")).trigger("click")
    })

    $("input[name=amount]").on("keyup keydown",function(){
        $("#pay-amount").html($(this).val())
    })

    function correctAmount(){

        max_cost = "1000000"
        min_cost = "10"
        
        entered_value = parseInt($(this).val())
        max_cost = parseInt(max_cost)
        min_cost = parseInt(min_cost)

        if ( entered_value > max_cost){
            $(this).val(max_cost)
        }

        else if (entered_value < min_cost){
            $(this).val(min_cost)
        }
        
    }
</script>
{% endblock %}