{% extends 'user-dashboard-base.html' %}
{% load static %}

{% block content %}
<div class="user-content">
    <div class="user-panel">
        <h4>Investment Packages</h4>
        <p>Please select a plan to proceed</p>

        {% for plan in plans %}
        <div class="token-card">
            <div class="token-info">
                <span class="token-smartag">{{plan.name}}</span>
                <h2 class="token-bonus">{{plan.interest_rate}}% <span>Interest</span></h2>
                <ul class="token-timeline">
                    <li><span>DURATION</span>{{plan.duration_verbose}}</li>
                    <li><span>RANGE</span>${{plan.min_cost}} - ${{plan.max_cost|default:" unlimited"}}</li>
                    
                </ul>
            </div>
            <div  style="border:2px solid #6783b8;width: 100%;background-color: white;height: fit-content;" class="text-center p-0" data-delay=".4">
              
                <a href="{% url 'invest' plan.slug %}" class="btn btn-grad p-2" style="color: black;" >select plan</a>
           
            </div>
            <!--div class="token-countdown">
                <span class="token-countdown-title">THE BONUS END IN</span>
                <div class="token-countdown-clock" data-date="2023/08/10"></div>
            </div-->
        </div><!-- .token-card -->
        {% endfor %}
    </div><!-- .user-panel -->
</div><!-- .user-content -->

{% endblock %}